{% extends "base.html" %}

{% block page_header %}
  <header class="container-fluid py-5 bg-light text-center">
    <h1 class="logo-font">About Us</h1>
    <p class="lead">Discover more about Paige's Books and what makes us unique.</p>
  </header>
{% endblock %}

{% block content %}
<section class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ MEDIA_URL }}about_us.webp" alt="Image of Paige Turner" class="img-fluid rounded shadow-lg">
    </div>
    <div class="col-md-6">
      <h2>Our Story</h2> 
      <p>Paige's Books began with a vision: to create a cozy haven for book lovers to discover their next favorite read. From our humble beginnings, we quickly grew into a community hub where readers gather to share their passion for literature. Our curated selection includes new releases and timeless classics, making reading enjoyable for everyone.</p> 
      <p>Over the years, we've fostered a vibrant community through book clubs, author signings, and literary events. Our knowledgeable staff is dedicated to helping customers find hidden gems and make personalized recommendations, ensuring that every visit is a delightful experience.</p> 
      <p>We also believe in giving back, actively participating in local literacy initiatives to promote reading among all ages. At Paige's Books, we aim to inspire a love for literature and create lasting connections among readers.</p>
      <h2>Our Mission</h2> 
      <p>At Paige's Books, we believe in the transformative power of stories. Our mission is to create a welcoming environment where readers can explore diverse narratives that reflect the richness of human experience. We strive to be a go-to resource for inspiration, offering a wide selection of books from various genres and voices.</p> 
      <p>We are committed to supporting independent authors and promoting inclusivity on our shelves. By highlighting diverse stories, we encourage readers to discover new perspectives and broaden their horizons.</p> 
      <p>Beyond selling books, we aim to educate and engage our community through workshops and events that celebrate literature. At Paige's Books, we are passionate about fostering a love for storytelling and empowering the next generation of readers.</p>
    </div>
  </div>
</section>
{% endblock %}