* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html, body {
    overflow-x: hidden;
}

body {
   
    color: #555;
    font-family: 'Lato';
}

img {
    max-width: 100%;
    height: auto;
}
.bk-image {
    background: no-repeat center center fixed;
    color: #555;
    margin:auto;
    max-width: 125em;
    max-height: 50%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

#headline-text {
    text-align: center;
}

.tagline-wrapper {
    text-align: center;
    margin-top: 20px;

}
.shop-now-button {
    background: black;
    color: white;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.navbar-collapse .nav-bar .nav-item a#special-offers-link {
    color: #cb0505 !important;
}

.special-offers-link {
    color: #cb0505 !important

}
.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.home-page-heading {
    padding-top: 48px;
    text-align: center;
}

.overlay {
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
}

/* book hover animation inspiration from Jon Suh, Codepen, see readme for full credit  */
body {
	background:#fff;
}

.bookWrap {
	margin:25px auto;
	height:346px;
	width:230px;
	position:relative;
	perspective: 1200px;
    overflow: visible;
}

.image-flash {
    position: absolute;
    top: -15px;  
    left: 3px;  
    background-color: #e7c9a9;  
    transform: rotate(-20deg);
    font-size: 0.9rem;  
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 5px;  
    z-index: 10;  
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);  
    text-transform: uppercase;
    letter-spacing: 0.05em;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.bookWrap .image-flash p {
    margin: 0;  
}

.offer {
    margin: 0;  
    font-size: 1rem;  
    font-weight: bold;  
    color: #3A0D02;  
    text-align: center;  
    padding: 5px;  
}

.book {
	background:oldlace;
    border-right: 3px solid #3A0D02;
    border-top: 3px solid #3A0D02;
	height:346px;
	width:230px;
	position:absolute;
	left:16px;
	top:0;
    transform-style: preserve-3d;
    transition: transform .5s ease 0s;
    border-radius: 0 7px 7px 0;
    perspective: 1200px;
}

.image-container {
    max-width: 400px;
    width: 100%; 
    margin: 0 auto; 
}
.book-details-container {
    text-align: left;
}

.book-image {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

.bookIntro {
	width:210px;
    transform: rotateY(30deg);
    transform-origin: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 10;
}

.cover {
	position:absolute;
    border-right:3px solid #3A0D02;
    border-top:1px solid #3A0D02;
    border-bottom:3px solid #3A0D02;
    border-left:5px double #3A0D02;
	left:0;
	top:0;
	height: 100%;
	width: 230px;
	max-width: 230px;
	max-height: 346px;
    backface-visibility: hidden;
    border-radius: 0 8px 8px 0;
    transition: transform .5s ease 0s, width .5s ease 0s;
    transform-origin: 0;
    z-index: 1;
}

.cover:hover {	
	width:210px;
    transform: rotateY(-15deg);
    transform-origin: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 10;
}

.spine {
	background:rgb(0, 0, 0);
	width: 40px;
	height: 344px;
	position: absolute;
	top: 0;
	left:0;
    transform: rotateY(90deg);
    transform-origin: 0;
}

.card {
    position: relative;
    height: auto; 
    overflow: visible; 
    transition: height 0.5s ease;
}

.card-body, .card-footer {
    overflow: visible; 
}

.btt-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.btt-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: black;
}

.btt-link,
.update-link,
.remove-item {
	cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.bookmark-list-btn {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.discount {
    color: #dc3545;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Book detial edit form */

.btn-file{
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top:0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: red;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border-radius: 0;
}

/* Style for active pagination item */

.page-link {
    color: #000;
}

.page-item.active .page-link {
    background-color: #000000; 
    color: #fff; 
    border-color: #595959;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; 
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); 
    color: #000;
}

.social-icons a {
    font-size: 2rem;
    margin: 0 10px;
    color: #000;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #000000; 
}

.social-icon{
    font-size: 2rem;
}

.footer-link {
    font-size: 1.2em;
    padding: 10px;
    color: #000;
    margin-right: 20px;
    text-decoration: none;
}

.footer-link:hover {
    color: #000000;
    text-decoration: underline;
}
  
.accordion .card-header {
    background-color: black; 
    border-bottom: 1px solid #444; 
}

.accordion .card-header .btn-link {
    color: white; 
    text-align: left; 
}

/* -------------------------------- Media Queries */

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
    .image-flash {
        font-size: 0.6rem;
        padding: 3px 7px;
    }
}
/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; 
    color: #6c757d; 
}

.allauth-form-inner-content input {
    border-color: #ff0000;
    border-radius: 4px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

#id_password1 {
    width: 100%;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .tagline-wrapper {
        text-align: center;
        margin-top: 20%;
    }

    .header-container {
        padding-top: 180px;
    }
}

@media (max-width:375px) {

    .navbar #mobile-search {
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
        flex-shrink: 0;
        white-space: nowrap;
        overflow: hidden;
    }

    .navbar #mobile-search i.fa-lg {
        font-size: 1rem; 
    }

    .navbar #mobile-search p {
        margin: 0; 
        font-size: 0.9rem; 
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 991px) {
	.header-container {
		padding-top: 116px;
	}
    
    .tagline-wrapper {
        text-align: center;
    }

	.display-3.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
        color: #000;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }
    .nav-link-offers{
        color: #cb0505;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-10,
    .btn.btn-black.rounded-10 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-10.btn-lg,
    .btn.btn-black.rounded-10.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
    
}

@media (max-width:426px) {
    .display-3 {
        font-size: 2rem;
    }
}