{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row ">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col text-center mt-3">
                <h2 class="logo-font">
                    {% if current_genres %}
                        {{ current_genres }} Books
                    {% else %}
                        Books
                    {% endif %}
                </h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2 d-flex align-items-center">
                    <div class="col-12 col-md-6 text-center text-md-left">
                        <p class="text-muted mt-3">
                            {% if search_term or current_genres or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'books' %}">Books Home</a> | </span>
                            {% endif %}
                            {{ filtered_books_count }} out of {{ total_books }} Books 
                            {% if search_term %}
                                found for <strong>"{{ search_term }}"</strong>
                            {% elif current_genres %}
                                in genre <strong>{{ current_genres }}</strong>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-12 col-md-6 text-center text-md-right">
                        <div class="sort-select-wrapper d-inline-block">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-10 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="author_asc" {% if current_sorting == 'author_asc' %}selected{% endif %}>Author (A-Z)</option>
                                <option value="author_desc" {% if current_sorting == 'author_desc' %}selected{% endif %}>Author (Z-A)</option>
                                <option value="genres_asc" {% if current_sorting == 'genres_asc' %}selected{% endif %}>Genre (A-Z)</option>
                                <option value="genres_desc" {% if current_sorting == 'genres_desc' %}selected{% endif %}>Genre (Z-A)</option>
                            </select>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    {% for book in page_obj %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            <div class="bookWrap">
                                <div class="book">                         
                                    {% if book.image %}
                                        <a href="{% url 'book_detail' book.id %}">
                                            <img class="cover" src="{{ book.image.url }}" alt="{{ book.title }}">
                                        </a>
                                        <div class="spine"></div>
                                        {% if book.offer %}
                                            <div class="image-flash">
                                                <p class="offer">10% OFF</p>
                                            </div>
                                        {% endif %}
                                    {% else %}    
                                        <a href="{% url 'book_detail' book.id %}">
                                            <img class="cover" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.title }}">
                                        </a>
                                        <div class="spine"></div>
                                        {% if book.offer %}
                                            <div class="image-flash">
                                                <p class="offer">10% OFF</p>
                                            </div>
                                        {% endif %}
                                        
                                    {% endif %}

                                    
                                </div>
                            </div>              
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ book.title }}</p>
                            </div>
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ book.author.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">&pound;{{ book.price }}</p>
                                        <p class="mt-3">Number of Pages: {{ book.number_of_pages }} </p>
                                        {% for genre in book.genres.all %}
                                            <p class="lead mb-0 text-left font-weight-bold">
                                                <a class="text-muted" href="{% url 'books' %}?genre={{ genre.name|urlencode }}">
                                                    <i class="fa-solid fa-tag" ></i>
                                                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                                                </a>
                                            </p>
                                        {% endfor %}
                                        <a href="{% url 'book_detail' book.id %}" class="btn btn-black border border-black rounded-10 mt-2">View Details</a>
                                        {% if request.user.is_superuser %}
                                            <small class="ml-3">
                                                <a href="{% url 'edit_book' book.id %}">Edit</a>
                                                <a class="text-danger" href="{% url 'delete_book' book.id %}">Delete</a>
                                            </small>
                                        {%  endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}

                    {% endfor %}
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-auto">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.direction %}&direction={{ request.GET.direction }}{% endif %}" aria-label="First">
                                            <span aria-hidden="true">&laquo;&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.direction %}&direction={{ request.GET.direction }}{% endif %}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">&laquo;</span>
                                    </li>
                                {% endif %}
                
                                {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                        <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.direction %}&direction={{ request.GET.direction }}{% endif %}">{{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}
                
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.direction %}&direction={{ request.GET.direction }}{% endif %}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.direction %}&direction={{ request.GET.direction }}{% endif %}" aria-label="Last">
                                            <span aria-hidden="true">&raquo;&raquo;</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">&raquo;</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-10 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
		$('.btt-link').click(function(e) {
            e.preventDefault();
			window.scrollTo(0,0)
		})
	</script>
    
    <script>
    $(document).ready(function() {
        setTimeout(function() {
            var $book = $('.book');
            $book.addClass('bookIntro');
            setTimeout(function() {
                $book.removeClass('bookIntro');
            }, 2000);
        }, 1000);
    });
    </script>
    

    <script>
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}